
/* body {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: #FFF0ED;
}


h1, h2{
    font-size: 3.75rem;
    font-weight: 300;

}

h3,.nav-heading, .footer-heading{
    font-size: 2.0625rem;
    font-weight: 300;
    text-align: center;
}

p{
    font-size: 1.125rem;
    font-weight: 400;
}


.icon{
    width: 3.125rem;
}


.button{
    background-color:#5BACC3;
    color:white;
    font-size: 1.3125rem;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 0 0;
    margin-bottom: 0;
}

.products__wrapper{
    display:flex;
    justify-content:center;
    gap: 10px;
}

.product-items{
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1.25rem;
    box-shadow: 0 2px 4px;
    text-align: center;
    width:330px;
}

.price{
    color: #5BACC3;
    font-weight: 400;
    font-size: 2.0625rem;
}


 */

/* Navigation Bar */

/* body, html{
  height: 100px;
  margin: 0;
  padding: 0 10%;
} */

.nitro-header {
  display: flex;
  justify-content: space-between;
  background: #fff0ed;  
}

.nitro-header__left-container {
  display: flex;
  margin:auto 20px
}

.nitro-header__right-container {
  display: flex;
  gap: 30px;
  padding: 20px;
  margin: auto 0;
}

.nitro-header__nav-links {
  text-decoration: none;
  color: #393939;
  margin: auto 0;
  font-size: 21px;
  font-weight: 400;
}

.nitro-header__nav-links--nitro-blue {
  color: #5bacc3;
}

.nitro-header__logo-link {
  margin: auto 0;
}

.nitro-header__heading {
  font-size: 60px;
  font-family: "open sans";
  font-weight: 300;
  margin: auto 0;
}

/* Hero Section */

.nitro-hero {
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
  background-color: #fff0ed;
  padding:50px;

}

.nitro-hero__left-container {
 margin-left: 100px;
 margin-top: 100px;
 width:25%;
}

.nitro-hero__nitro-heading{
  padding-top: ;
}

.nitro-hero__button-container{
  background-color: #5bacc3;
  width:fit-content;
  padding:15px 25px;
  margin-top: 40px;
  position:relative;
}

.nitro-hero__button-container::after{
  content:"";
  position: absolute;
  top:5px;
  right:-5px;
  bottom:5px;
  left:-5px;
  border:2px solid #393939;
  z-index: 1;
}

.nitro-hero__button{
  text-decoration: none;
  font-size: 21px;
  font-weight: 400;
  color: #F7F7F7;
}




/* .button {
  box-sizing: border-box;
  display:inline-flex;
  justify-content:space-between;
  padding:0.625rem 1rem;
  margin-top: 50px;
  text-decoration: none;
  color: white;
  background-color: #5bacc3;
  position: relative;
} */
/* 
.button__border{
  position:absolute;
  border: 2px solid #393939;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
}

.button__text{
  position:relative;
  top: -3px;
  left: -3px;
} */

.nitro-hero__right-container {
  margin-right: 50px;
}
/* .nitro-hero__button::after {
  content: "";
  border: 2px solid #393939;
  position: absolute;
  top: 5px;
  right: -5px;
  bottom: -5px;
  left: 5px;
} */



/* Product Items Section */

.products {
  display: flex;
  justify-content: Center;
  background-color:  #F7F7F7;
}

.product-items {
  display: flex;
  justify-content: space-around;
  background-color:  #F7F7F7;
}

.product-items__card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px;
  box-shadow: rgb(240, 237, 237);
  width: 330px;
  height: 440px;
}

.product-item__card-bottom {
  display: flex;
  justify-content: space-between;
  background: #fff0ed;
  padding:18px; 
  border-radius:10px;
}

.product-item__card-bottom-left {
  margin-left: 10px;
  padding-top:20px;
  
}

.product-item__card-bottom-right {
  margin: auto 0;
  padding-top:20px
}

.product-items__card-image {
  height: 280px;
  padding-top: 20px;
  padding-left: 100px;
}

.product-item__product-name {
  margin: 0;
}

.product-item__item-amount {
  margin: 0;
}

.product-items__price {
  color: #5bacc3;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 25px;
}

.product-items__button{
  margin: 50px auto;
  background-color: #5bacc3;
  width:fit-content;
  padding:15px 35px;
}

.product-items__button-txt{
  text-decoration: none;
  color:white;
  font-size: 21px;
  font-weight: 400;
}

/* We're Different Section */
.we-different{
  display:flex;
  justify-content: space-between;
}

.we-different__3icons{
  display: flex;
  justify-content: space-between;
}


.we-different__icon{
  width:50px;  
  display: flex;   
}

.we-different__left-container{
  width:28%;
  margin-left: 100px;
}

.we-different__button{
  margin-top: 30px;
  background-color: #5bacc3;
  width:fit-content;
  padding:15px 35px;
}

.we-different__button-txt{
  text-decoration: none;
  color:white;
  font-size: 21px;
  font-weight: 400;
}

.we-different__right-container{
  background-image: url('../assets/images/coldbrewbackground.png');
  background-size: cover;
  width:400px;
  margin-right:100px;
}

.we-different__coldBrew-img{
  margin-top:60px;
  margin-left: 100px;
}

 /* Discount Banner Section */

.discount-banner{
  background-color: #393939;
  width:90%;
  margin: 250px auto;
}

.discount-banner__text{
  color: #F7F7F7;
  text-align: center;
  font-size: 45px;
  font-weight:400;
  padding:50px;
}

.discount-banner__highlight{
  font-weight: 700;
}
  



  


/* Footer Section */
.footer{
  display: flex;
  justify-content: space-around;
  background-color: #fff0ed;
  padding:40px;
  position: relative;
  overflow: hidden;
}

.footer_icon{
  width:50px;  
}

.footer__bg-lefticon{
  width:120px;
  opacity:25%;
  position: absolute;
  margin-right: 1620px;
  margin-bottom: 10rem;  
}

.footer__bg-righticon{
  width:120px;
  opacity:25%;
  position: absolute;
  margin-left: 1620px;
  margin-top: 5rem;  
}

/* .footer{
  display:flex;
  justify-content:center;
  padding: 20px;
  background:#fff0ed;
  margin: 20px;
  position: relative;
  h3{
      margin-bottom: 0.625rem;
  }
}

.footer__background-left{
  position: absolute;
  left:-20px;
  width: 60px;
  height:auto;
}

.footer__background-right{
  position: absolute;
  right: -20px;
  width: 60px;
  height: auto;
}

.footer__address, .footer__hours, .footer__social{
  flex:1;
  padding:30px;
  }

  .footer__highlight{
    font-weight: bold;
  }

  .footer__icon{
    
  } */ */
