
h1, h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    font-weight: 500;
}


.nitro-header__background{
    background-image: url(../assets/images/coffee-circle.jpg);
    width: 100%;
    height: 43.75rem;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 1.25rem;
}

.nitro-header__menu-background{   
    width:300px;
    height:100px;
    background-color: #393939;
    color:#F7F7F7;
    padding: 50px 30px 30px 30px;
    position:relative;
     
}

.nitro-header__menu-background::after{
    position:absolute;
    border:5px solid #5BACC3;
    content:"";
    top:-15px;
    right:15px;
    bottom:15px;
    left:-15px;
    z-index:1;
}

.nitro-header__sub-navigation{
    text-align: center;
    text-transform: capitalize;
    display: inline-flex;
    background-color: #393939;
    color: white;
    width: 100%;
    padding: 1.25rem;
    border: 0.25rem #5BACC3;
    align-items:center;
    justify-content: center;
    
}

.nitro-header__sub-navigation-link{
    color: white;
    text-decoration: none;
    padding-left:30px;
    margin:auto 15px;
    border-left: 4px solid  #5BACC3;
    font-size:21px;
    
}

/* Hot Drinks Section */
.menu-options__hotDrinkSection{
    background-color: #FFF0ED;
    padding: 20px 5px;
}

.menu-options__hot-item{
    font-style: italic;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.menu-options__hot-price{
    color: #5BACC3;
    text-align: center;
    font-weight: 600;
}


/* Cold Drinks Section */
.menu-options__coldDrinkSection{
    background-color: #F7F7F7;
    padding: 20px 5px;
}

.menu-options__cold-item{
    font-style: italic;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.menu-options__cold-price{
    color: #5BACC3;
    text-align: center;
    font-weight: 600;
}

/* Pastries Section */
.menu-options__pastries{
    background-color: #FFF0ED;
    padding: 20px 5px;
}

.menu-options__pastries-item{
    font-style: italic;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.menu-options__pastries-price{
    color: #5BACC3;
    text-align: center;
    font-weight: 600;
}