@use "./partials/global" as *;

h1, h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    font-weight: 500;
}

// Hero Section
.nitro-hero{

    &__background{
    background-image: url(../assets/images/coffee-circle.jpg);
    width: 100%;
    height: 43.75rem;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 1.25rem;
    }

    &__menu-background{   
    width:18.75rem;
    height:6.25rem;
    background-color: #393939;
    color:#F7F7F7;
    padding: 3.125rem 1.875rem 1.875rem 1.875rem;
    position:relative;

        &::after{
        position:absolute;
        border:.3125rem solid #5BACC3;
        content:"";
        top:-0.9375rem;
        right:.9375rem;
        bottom:.9375rem;
        left:-.9375rem;
        z-index:1;
        }
     
    }



    &__sub-navigation{
    text-align: center;
    text-transform: capitalize;
    display: inline-flex;
    background-color: #393939;
    color: white;
    width: 100%;
    padding: 1.25rem;
    border: 0.25rem #5BACC3;
    align-items:center;
    justify-content: center;
    }

    &__sub-navigation-link{
    color: white;
    text-decoration: none;
    padding-left:1.875rem;
    margin:auto .9375rem;
    border-left: .25rem solid  #5BACC3;
    font-size:1.3125rem;
    }
}


.menu-options {

    &__hotDrinkSection{
    background-color: #FFF0ED;
    padding: 1.25rem .3125rem;
    }

    &__hot-item{
    font-style: italic;
    text-align: center;
    width: 37.5rem;
    margin: 0 auto;
    }

    &__hot-price{
    color: #5BACC3;
    text-align: center;
    font-weight: 600;
    }


    &__coldDrinkSection{
    background-color: #F7F7F7;
    padding: 1.25rem .3125rem;
    }

    &__cold-item{
    font-style: italic;
    text-align: center;
    width: 37.5rem;
    margin: 0 auto;
    }

    &__cold-price{
    color: #5BACC3;
    text-align: center;
    font-weight: 600;
    }


    &__pastries{
    background-color: #FFF0ED;
    padding: 1.25rem .3125rem;
    }

    &__pastries-item{
    font-style: italic;
    text-align: center;
    width: 37.5rem;
    margin: 0 auto;
    }

    &__pastries-price{
    color: #5BACC3;
    text-align: center;
    font-weight: 600;
    }
}